In [1]:
import pandas as pd

In [2]:
df1m = pd.DataFrame({
'Time' : ['2022-01-11 09:30:00', '2022-01-11 09:31:00', '2022-01-11 09:32:00', '2022-01-11 09:33:00', '2022-01-11 09:34:00', '2022-01-11 09:35:00', '2022-01-11 09:36:00' , '2022-01-11 09:37:00' , '2022-01-11 09:38:00' ,
       '2022-01-11 09:39:00', '2022-01-11 09:40:00'],  
'Price' : [1,2,3,4,5,6,7,8,9,10,11]})

In [3]:
df1m['Time'] = pd.to_datetime(df1m['Time'])
df1m.set_index('Time',inplace=True)
df1m['Price5'] = df1m.resample('5T').first()
df1m

                     Price  Price5
Time
2022-01-11 09:30:00      1     1.0
2022-01-11 09:31:00      2     NaN
2022-01-11 09:32:00      3     NaN
2022-01-11 09:33:00      4     NaN
2022-01-11 09:34:00      5     NaN
2022-01-11 09:35:00      6     6.0
2022-01-11 09:36:00      7     NaN
2022-01-11 09:37:00      8     NaN
2022-01-11 09:38:00      9     NaN
2022-01-11 09:39:00     10     NaN
2022-01-11 09:40:00     11    11.0